@font-face {
    font-family: Helvetica;
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
    url('fonts/helveticaneue-thin-webfont.ttf') format('truetype'),
    url('fonts/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    background: url("../img/background.jpg");
    background-size: cover ;
}
.wrapper {
    margin: 0 auto;
    font-size: 14px;
    font-family: Helvetica, arial, sans-serif;

}
.header{
    background: url("../img/pattern.jpg") repeat-x;
    height: 36px;
    width: 100%;

}
.nav{
    width: 69%;
    /*border-width: 0;*/
    /*border-right: 1px solid #60b5ed;*/
    /*border-image: url("../img/vl1.jpg") 1 round;*/
}
li{
    float: right;
}
a{
    height: 36px;
    padding-left: 14px;
    padding-right: 10px;
    line-height: 36px;
    display: block;
    text-decoration: none;
    color: #60b5ed;
}
li:hover a{
    background-color: #4eabda;
    color: white;
}
.nav ul li a:first-child{
    border-width: 0;
    border-right: 1px solid #60b5ed;
    border-image: url("../img/vl1.jpg") 1 round;
}
.form{
    /*position:absolute;*/
    /*top: 50%;*/
    /*left:50%;*/
    /*margin-top: -306px;*/
    /*margin-left: -280px;*/
    margin: 214px auto;
    width: 560px;
    height: 613px;
}
.form_name{
    height: 63px;
    background: rgba(0, 0, 0, .63);
    text-align: center;
    font-size: 24px;
    line-height: 64px;
    color: #fff;
}
.form_body{
    margin-top:2px;
    height: 548px;
    width: 560px;
    background: rgba(0, 0, 0, .63);
}
.facebook{
    padding-top: 36px;
    margin-bottom: 32px;
    text-align: center;
}
.button{
    background-image: url('../img/facebook.png');
    width: 276px;
    height: 35px;
    border:none;
    border-radius: 5px;

}
.button:active{
    padding-top: 2px;
    margin-bottom: -2px;


}
.line{
    /*margin-top: 32px;*/
    text-align: center;
}
.main_form{
    display:block;
    -webkit-box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
    background-image: linear-gradient(to top, #111, #0e0d0d);
    width: 276px;
    height: 36px;
    border: none;
    margin: 20px auto;
}
.main_form:first-child{
    margin-top: 30px;
}

.main_form:focus{
    -webkit-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 0 9px rgba(47,123,197,.77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29,26,22,.2), inset 0 0 2px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
    background-image: linear-gradient(to top, #111, #0e0d0d);
    width: 276px;
    height: 36px;
}
