
.wrapper {
    width: 1064px;
    height: 950px;
}
.photo1{
    margin: 30px 0 40px 48px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited,
 a:active,
 a:link {
     color: black;
 }
.header{
    background: linear-gradient(to top, #454444, #5d5d5d);
    margin-top: 15px;
    margin-left: 48px;
    width: 966px;
    height: 40px;
}
.header ul li{
    display: inline;
}
.header ul li a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 40px;
    }
.header ul li a:first-child {
    width: 145px;
    padding-left: 25px;
}
.header ul li a:hover{
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    background: linear-gradient(to top, #2f2f2f, #4a4a4a);
}

.main>.item{
    float: left;
    background: #fff;
    color: #656363;
    line-height: 40px;
    width: 238px;
    margin-left: 48px;
    margin-top: 40px;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: none;
}
.item>li{
    border-left: 1px solid #c8c8c8;
    border-top: 1px solid #c8c8c8;
    border-right: 1px solid #c8c8c8;
    padding-left: 23px;
    border-collapse: collapse;
}
.item>li:last-child {
    border-bottom: 1px solid #c8c8c8;
}

.item>li:hover {
    background: #f9f9f9;
    padding-left: 35px;
    color: #2c2c2c;
}
.photo2{
    width: 678px;
    height: 400px;
    float:right;
    border: 1px solid #c8c8c8;
    margin-top: 41px;
    margin-right: 48px;
    text-align: center;
    position: relative;

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ipsum{
    font-family: "Open Sans", sans-serif;;
    font-size: 13px;
    color: #2c2c2c;
    margin-top: 37px;
    margin-right: 48px;
    float: right;
    display: block;
    width: 678px;
    height: 143px;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 21px;
}
.footer{

    background: #e1e1e1;
    margin-top: 680px;
    margin-left: 48px;
    width: 966px;
    height: 40px;
}
.footer ul li{
    display: inline;
}
.footer ul li a {
    display: inline-block;
    color: #2c2c2c;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    line-height: 40px;
}
.footer ul li a:first-child {
    width: 145px;
    padding-left: 25px;
}
.footer ul li a:hover{
    text-decoration: underline;
}
span{
    display: block;
    padding-right: 20px;
    font-size: 13px;
    line-height: 29px;
    color: #2c2c2c;
    text-align: right;
    font-family: "Open Sans", sans-serif;
    float: right;
    padding-top: 5px;
}