.wrapper {
    width: 1024px;
    height: 1024px;
    margin: 0 auto;
    background-image: url(pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

h1 {
    width: 500px;
    padding-top: 50px;
    color: black;
    text-transform: uppercase;
    font-family: Arial, serif;
    text-align: center;
}

.photo {
    text-align: center;
}

img {
    border: 1px solid #e3e3df;
}

p,
ul,
h1 {
    margin-left: 260px;
}

.border {
    padding-top: 30px;
    border-top: 1px solid #d8d6d7;
}

p {
    width: 500px;
    font-size: 14pt;
    font-family: Arial, serif;
    color: #1c1c1e;
}

a {
    width: 500px;
    font-style: italic;
    text-decoration: none;
    border-bottom: 1px solid #aaaaff;
}

ul {
    padding-left: 0;
    width: 500px;
    font-weight: bold;
    text-align: left;
    font-family: Myriad Pro, Arial, serif;
    color: black;
    font-size: 14pt;
}

li {
    width: 455px;
    font-weight: 100;
    margin-left: 45px;
    font-family: Myriad Pro, Arial, serif;
    color: #1c1c1e;
    font-size: 12pt;
}

li:first-child {
    width: 455px;
    padding-top: 26px;
}
