
body {
    background: #fff;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    height: 883px;
    background: url("../img/logo.png") no-repeat 70px 131px,
    url("../img/palm.png") no-repeat 210px 57px,
    url("../img/background.jpg");
    box-shadow: 4px 4px 5px 0 #000;
}

.toolbar {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.asia {
    float: left;
    padding-top: 121px;
    padding-left: 154px;
}

.info {
    float: right;
    padding-top: 97px;
    padding-right: 84px;
}

.contact,
.telephone,
.asia p,
figcaption,
.subline {
    color: #e6e6e6;
    font-family: Tahoma, sans-serif;
    line-height: normal;
}

.contact {

    font-size: 10px;
    font-weight: bold;
}

.telephone {
    font-size: 8px;
}

.asia p {
    font-size: 10px;
    font-weight: bold;
}

.menu {
    position: absolute;
    width: 860px;
    float: left;
    margin-top: 150px;
    margin-left: 70px;

}

.menu ul li {
    display: inline-block;
    padding-bottom: 41px;
}

.menu figcaption {
    font-size: 15px;
    text-align: center;
}

.subline {
    color: white;
    padding-top: 785px;
    font-size: 10px;
    padding-left: 401px
}

li:hover {
    background: linear-gradient(to bottom, lightgrey, black);
}