@font-face {
    font-family: Helvetica;
    src: url('fonts/helveticaneue-thin-webfont.eot');
    src: url('fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
    url('fonts/helveticaneue-thin-webfont.woff') format('woff'),
    url('fonts/helveticaneue-thin-webfont.ttf') format('truetype'),
    url('fonts/helveticaneue-thin-webfont.svg#helvetica_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: url("../img/background.jpg");
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    font-size: 14px;
    font-family: Helvetica, arial, sans-serif;

}

.header {
    background: url("../img/pattern.jpg") repeat-x;
    height: 36px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.line {
    padding-top: 2px;
}

.pages {
    margin-right: 20px;

}

.pages > input {
    display: none;
}

.pages > input + label {
    display: inline-block;
    border: none;
    cursor: pointer;
    position: relative;
    color: #fefefe;
}

.pages > input + label:last-of-type::after {
    display: block;
    width: 2000px;
    content: "";
    position: absolute;
    left: 100%;
}

.pages > input:checked + label {
    background: linear-gradient(to bottom, #50afdc, #2e7ac4);
    color: #fff;
    border-bottom: none;
    line-height: 36px;
}

.page_1,
.page_2 {
    line-height: 14px;

}

.page_1 {
    width: 160px;
}

.page_2 {
    width: 190px;
    text-align: center;
}

span {
    border-bottom: 1px solid #abc7e5;
}

.flag {
    vertical-align: middle;
    margin-left: 18px;
}

.nav {
    float: left;
    margin-left: 36%;
}

li {
    float: left;
}

a {
    height: 36px;
    padding-left: 14px;
    padding-right: 10px;
    line-height: 36px;
    display: block;
    text-decoration: none;
    color: #60b5ed;
}

li:hover a {
    background-color: #4eabda;
    color: white;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -219px;
    margin-left: -280px;
    width: 560px;
    height: 613px;
}

.form_name {
    height: 63px;
    background: rgba(0, 0, 0, .63);
    text-align: center;
    font-size: 24px;
    line-height: 64px;
    color: #fff;
}

.form_body {
    margin-top: 2px;
    height: 548px;
    width: 560px;
    background: rgba(0, 0, 0, .63);
}

.facebook {
    padding-top: 36px;
    margin-bottom: 32px;
    text-align: center;
}

.button {
    background-image: url('../img/facebook.png');
    width: 276px;
    height: 35px;
    border: none;
    border-radius: 5px;

}

.button:active {
    box-shadow: inset 4px 4px 10px 10px rgba(0, 0, 0, 0.75);
    outline: none;
}

.button:focus {
    outline: none;
}

.line_ou {
    text-align: center;
}

.main_form {
    display: block;
    -webkit-box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
    background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
    background-image: linear-gradient(to top, #111, #0e0d0d);
    width: 276px;
    height: 35px;
    border: none;
    margin: 0 auto;
    padding-left: 18px;
    box-sizing: border-box;
    color: #ccc;
    line-height: 16px;
    border-bottom: 1px solid transparent;
}

.main_form:first-child {
    margin-top: 30px;
    margin-bottom: 20px;
}

.main_form:nth-child(3) {
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_form:nth-child(5) {
    margin-top: 12px;
    margin-bottom: 22px;
}

.main_form:focus {
    -webkit-box-shadow: 0 0 9px rgba(47, 123, 197, .77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 9px rgba(47, 123, 197, .77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
    box-shadow: 0 0 9px rgba(47, 123, 197, .77), 0 1px #4b4b4b, inset 0 2px 5px rgba(29, 26, 22, .2), inset 0 0 2px rgba(0, 0, 0, .1);
    background-image: -webkit-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -moz-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -o-linear-gradient(bottom, #111, #0e0d0d);
    background-image: -ms-linear-gradient(bottom, #111, #0e0d0d);
    background-image: linear-gradient(to top, #111, #0e0d0d);
    background: #1b5288;
    width: 276px;
    height: 35px;
    padding-left: 18px;
    border-bottom: 1px solid #689bcc;
    box-sizing: border-box;
    color: #fffbfb;
    line-height: 16px;
    outline: none;
}

.checkbox {
    margin-left: 140px;
}

.checkbox + label {
    color: #ccc;
}

.submit {
    width: 150px;
    height: 35px;
    border-radius: 2px;
    border: none;
    background: linear-gradient(to bottom, #67c6e6, #2e7ac4);
    color: #fff;
    line-height: 16px;
}

.submit:active {
    box-shadow: inset 4px 4px 10px 10px rgba(0, 0, 0, 0.75);
    outline: none;
}

.sub {
    margin: 23px auto 20px;
    display: block;
    width: 150px;
    height: 35px;
}

.disclaimer {
    margin: 0 auto;
    display: block;
    width: 315px;
    color: #ccc;
    font-size: 11px;
    line-height: 16px;
    overflow: hidden;
    text-align: center;
}