@import "variables";

.accordion {
  background: #f7f7f7;
  width: 50%;
  float: right;
  height: 545px;
  &-holder {
    margin-top: 47px;
    margin-left: 21px;
    background: #f7f7f7;
    float: left;
    width: 562px;
  }
  &-name {
    margin-top: 64px;
    margin-left: 20px;
    text-transform: capitalize;
    color: rgb(42, 45, 50);
    font-family: $medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;

  }
  &-trigger {
    color: rgb(42, 45, 50);
    display: block;
    width: 562px;
    height: 39px;
    padding: 0;
    margin: 0 0 5px 0;
    background: url(../img/inactive_acc.png) no-repeat;
    float: left;
  }
  &-heading {
    cursor: pointer;
    width: 522px;
    height: 39px;
    color: inherit;
    font-family: $medium;
    font-size: 13px;
    font-weight: 500;
    line-height: 39px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 0 0 0 54px;
    &:hover {
      color: #ccc;
    }
  }

  &-container {
    width: 591px;
    color: rgb(138, 138, 138);
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 18px;
    clear: both;

  }
  &-active {
    display: block;
    background: url(../img/active_acc.png) no-repeat;
    color: white;
  }
  &-block {
    margin-bottom: 18px;
    padding: 20px;
  }
  &-text {
    letter-spacing: -.005em;
    padding-top: 1px;
  }
}

