@import "variables";

.contacts {
  background: #35383c;
  width: 100%;
  height: 60px;
  &-wrapper {
    margin: 0 auto;
    width: 1190px;
  }
}

.location {
  margin-left: 17px;
  float: left;
  line-height: 60px;
  &-address {
    padding-left: 7px;
    opacity: 0.2;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
  }
  &-marker {
    opacity: 0.2;
    color: white;
  }
}

.phone {
  margin-left: 32px;
  float: left;
  line-height: 60px;
  &-icon {
    font-size: 10px;
    opacity: 0.2;
    color: white;
  }
  &-number {
    padding-left: 4px;
    opacity: 0.2;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
  }
}

.email {
  margin-left: 40px;
  float: left;
  line-height: 60px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  &-text {
    padding-left: 11px;
    opacity: 0.2;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
  }
}

.copyright {
  text-transform: capitalize;
  float: right;
  opacity: 0.2;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
}